.header1 {
  min-height: var(--indent-l);
  height: fit-content;
  display: flex;
  align-items: center;
  color: var(--header-border-light);
  background-color: var(--dark-brown);
  font-family: 'Lexend Deca', sans-serif;
}

.header1__container {
  min-height: inherit;
}

.header1__start {
  grid-column: 1/3;
  display: flex;
}

.header1__start-logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.5%;
  border-right: var(--border-width-common) var(--header-border-light) solid;
  padding: var(--indent-4xs);
}

.header1__start-logoWrapper-logo {
  max-width: 100%;
}

.header1__start-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 80.5%;
  padding: var(--indent-4xs);
  font-weight: 700;
  font-size: var(--text-header);
  border-right: var(--border-width-common) var(--header-border-light) solid;
  text-align: center;
}

.header1__end {
  grid-column: 3/5;
  display: flex;
}

.header1__end-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--text-header);
  border-right: var(--border-width-common) var(--header-border-light) solid;
  padding: var(--indent-4xs);
  word-break: break-word;
  text-align: center;
}

.header1__end-socialLinks {
  width: 53%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

/* Only mobile elements */
.header1__burgerIcon, .header1__giftIconWrapper {
  display: none;
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1160px) {

}

@media screen and (max-width: 991px) {
  .header1__start-logoWrapper-logo {
    max-width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header1__start {
    grid-column: 1/4;
    align-items: center;
    justify-content: space-between;
  }

  .header1__start-text {
    display: none;
  }

  .header1__start-logoWrapper {
    height: 100%;
    order: 1;
    flex-grow: 1;
    margin: 0 20px;
    border-left: var(--border-width-common) var(--header-border-light) solid;
  }

  .header1__start-logoWrapper-logo {
    max-width: 30px;
  }

  .header1__end {
    display: none;
  }

  .header1__burgerIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    width: 20px;
    order: 0;
  }

  .burgerIcon__Active .header1__burgerIcon-line:nth-child(1) {
    transform: rotate(45deg);
    top: 6px;
  }

  .burgerIcon__Active .header1__burgerIcon-line:nth-child(2) {
    opacity: 0;
  }

  .burgerIcon__Active .header1__burgerIcon-line:nth-child(3) {
    transform: rotate(-45deg);
    top: -6px;
  }

  .header1__burgerIcon-line {
    width: 100%;
    height: 2px;
    border-bottom: var(--border-width-common) solid var(--header-border-light);
    transition: all .2s ease-in-out;
    position: relative;
    top: 0;
  }

  .header1__giftIconWrapper {
    display: block;
    order: 2;
  }

  .header1__giftIconWrapper-img {
    max-width: 20px;
  }

}