.textCells {
  margin-top: var(--indent-s);
}

.textCells__wrapper {
  grid-column: 1/5;
  display: flex;
  border-bottom: var(--border-width-common) solid black;
}

.textCells__wrapper-item {
  width: 25%;
  border-right: var(--border-width-common) solid black;
  padding-top: var(--indent-s);
  padding-bottom: var(--indent-s);
  display: flex;
  flex-direction: column;
  gap: var(--indent-s)
}

.textCells__wrapper-item:last-of-type {
  border-right: none;
}

.textCells__wrapper-item-title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--text-l);
  padding-left: var(--indent-s);
  padding-right: var(--indent-s);
}

.textCells__wrapper-item-title span {
  color: var(--text-medium-blue)
}

.textCells__wrapper-item-text {
  padding-left: var(--indent-l);
  padding-right: var(--indent-s);
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1160px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .textCells__wrapper {
    flex-wrap: wrap;
    border: none;
  }

  .textCells__wrapper-item {
    width: 50%;
    border: none;
  }

  .textCells__wrapper-item:nth-child(1) {
    border-bottom: var(--border-width-common) solid black;
    border-right: var(--border-width-common) solid black;
  }

  .textCells__wrapper-item:nth-child(2) {
    border-bottom: var(--border-width-common) solid black;
  }

  .textCells__wrapper-item:nth-child(3) {
    border-right: var(--border-width-common) solid black;
  }

  .textCells__wrapper-item-title {
    padding: 0 6%;
  }

  .textCells__wrapper-item-text {
    padding: 0 6%;
  }
}