:root {
  --ticker-container-height: 1030px;
  --ticker-animation-iteration: infinite;
}

@keyframes smallTickerAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes largeTickerAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1160px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {

}