:root {
  --ticker-container-height: 1030px;
  --ticker-animation-duration: 10s;
  --ticker-animation-iteration: infinite;
}

@keyframes smallTickerAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1219px);
  }
}

@keyframes largeTickerAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1121px);
  }
}