@font-face {
  font-family: 'Merriweather Sans';
  src: local('MerriweatherSans-Light'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Light.woff') format('woff'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: local('MerriweatherSans-Regular'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Regular.woff') format('woff'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: local('MerriweatherSans-Bold'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Bold.woff') format('woff'),
  url('../../fonts/MerriweatherSans/MerriweatherSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'Lexend Deca';
  src: local('LexendDeca-Light.ttf'),
  url('../../fonts/LexendDeca/LexendDeca-Light.woff') format('woff'),
  url('../../fonts/LexendDeca/LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Deca';
  src: local('LexendDeca-Regular.ttf'),
  url('../../fonts/LexendDeca/LexendDeca-Regular.woff') format('woff'),
  url('../../fonts/LexendDeca/LexendDeca-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Deca';
  src: local('LexendDeca-Bold.ttf'),
  url('../../fonts/LexendDeca/LexendDeca-Bold.woff') format('woff'),
  url('../../fonts/LexendDeca/LexendDeca-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'Anime Ace 2.0 BB';
  src: local('animeace2_0bb.ttf'),
  url('../../fonts/Animeace/animeace2_0bb.woff') format('woff'),
  url('../../fonts/Animeace/animeace2_0bb.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}