@import "vars.css";
@import "fonts.css";

/* Component styles */
@import "../../components/header/header.css";
@import "../../components/header1/header1.css";
@import "../../components/header2/header2.css";
@import "../../components/headerPopup/headerPopup.css";
@import "../../components/intro/intro.css";
@import "../../components/colorbox/colorbox.css";
@import "../../components/textCells/textCells.css";
@import "../../components/gifts/gifts.css";
@import "../../components/formMain/formMain.css";
@import "../../components/accordion/accordion.css";
@import "../../components/blog/blog.css";
@import "../../components/guide/guide.css";
@import "../../components/ticker/ticker.css";
@import "../../components/footer/footer.css";

@import "../../components/Product/main/main.css";
@import "../../components/Product/description/description.css";
@import "../../components/Product/tags/tags.css";

@import "../../components/drawer/drawer.css";

/**/
/* ----- Global ----- */
/**/
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  overflow-x: clip;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #F4F2E8;
  line-height: initial;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

form {
  margin-bottom: 0;
}

input {
  height: var(--input-height-main);
  padding: 0 var(--indent-s);
  background: var(--background-light-blue);
  border: none;
  border-bottom: var(--border-width-common) solid var(--color-input-border);
  outline: none;
  color: white;
}

textarea {
  min-height: calc(var(--input-height-main) + var(--indent-xl));
  font-family: 'Merriweather Sans', sans-serif;
  padding: var(--indent-2xs) var(--indent-s) 0 var(--indent-s);
  background: var(--background-light-blue);
  border: none;
  border-bottom: var(--border-width-common) solid var(--color-input-border);
  outline: none;
  color: white;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: var(--color-placeholder);
}

/**/
/* ----- Font weight ----- */
/**/
.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

/**/
/* ----- Hidden ----- */
/**/
.hidden {
  opacity: 0;
  pointer-events: none;
}

/**/
/* ----- Container ----- */
/**/

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  min-height: inherit;
}


/**/
/* ----- Grid row ----- */
/**/
.grid-row {
  display: grid;
  grid-template-columns: 43% 9.5% 14% 33.5%;
  min-height: inherit;
}

/**/
/* ----- Buttons ----- */
/**/
button {
  border-radius: var(--border-radius-button);
  background-color: transparent;
  border: var(--border-width-common) solid black;
  outline: none;
  cursor: pointer;
}

button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

button span {
  color: black;
}

.btn-main {
  font-family: 'Merriweather Sans', sans-serif;
  min-height: var(--button-height-main);
}

/**/
/* ----- Animated link ----- */
/**/
.animatedLink__wrapper {
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.animatedLink__wrapper-main {
  position: absolute;
  top: 0;
}

.animatedLink__wrapper-hidden {
  position: absolute;
  bottom: -100%;
}

.animatedLink__wrapper-fake {
  opacity: 0;
  pointer-events: none;
}

.animatedLink__wrapper:hover .animatedLink__wrapper-main {
  top: -100%;
  transition: all .3s ease-in-out;
}

.animatedLink__wrapper:hover .animatedLink__wrapper-hidden {
  bottom: 0;
  transition: all .3s ease-in-out;
}


/**/
/* ----- Animated images ----- */
/**/
.animatedImgFrame {
  overflow: hidden;
}

.animatedImg {
  transition: all 1.3s ease-in-out;
}

.animatedImgActive {
  transform: scale(1.07);
}


.animatedImg--Frameless {
  transition: all 1.3s ease-in-out;
  transform: scale(0.93);
}

.animatedImg--FramelessActive {
  transform: scale(1);
}


/**/
/* ----- AOS Animation ----- */
/**/

/* Change fade distance */
[data-aos=fade-up] {
  transform: translate3d(0, 30px, 0);
}



/**/
/* ----- Draw line SVG ----- */
/**/

.line-path-1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 7;
  animation: letter-animation 1.5s linear forwards;
  animation-delay: 1000ms;
}

@keyframes letter-animation {
  0% {
    stroke-dashoffset: 2600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 1320px) {
  html {
    font-size: 15px;
  }

  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1160px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 990px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 11px;
  }

  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  body.drawerOpened {
    height: 100vh;
    overflow-y: hidden;
  }

  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .grid-row {
    grid-template-columns: 6% 1fr 6%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }
}