header {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: 1000;
}

header.header__scrolled {
  border-bottom: var(--border-width-common) solid black;
}

header.animation {
  animation: headerHideShow 1s 1;
  animation-fill-mode: forwards;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px) {
  header {
    z-index: 1001;
  }

  header.header__scrolled {
    border-bottom: 0;
  }
}