.intro {
  margin-top: var(--indent-m);
  margin-bottom: var(--indent-xl);
}

.intro__title {
  grid-column: 1/5;
  font-size: var(--h1);
  font-weight: 300;
  position: relative;
}

.intro__title-row {
  display: block;
}

.intro__title-row:last-of-type {
  display: flex;
  position: relative;
  width: fit-content;
}

.intro__title-row-blob {
  position: absolute;
  z-index: 1;
  bottom: -33px;
  right: 473px;
  max-width: 16%;
}

.intro__title-row-blob path {

}

.intro__title-accent1 {
  font-weight: 400;
  color: var(--text-light-blue);
}

.intro__title-accent2 {
  font-weight: 400;
  color: var(--text-orange);
}

.intro__content-offerBox {
  padding-top: var(--indent-m);
  padding-bottom: var(--indent-s);
  border-bottom: var(--border-width-common) solid black;
}

.intro__content-offerBox-imgWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__content-offerBox-imgWrapper-img {
  max-width: 100%;
}

.intro__content-offerBox-imgWrapper-saleImg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.intro__content-offerBox-imgWrapper-mobileBackground {
  display: none;
}

.intro__content-text {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  font-size: var(--text-l);
  text-transform: uppercase;
  margin: var(--indent-s) 0;
}

.intro__content-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: var(--indent-s) 0;
}

.intro__content-buttons-item {
  text-transform: uppercase;
  font-size: var(--text-m);
  font-weight: 700;
}

.intro__content-buttons-item:nth-child(1) {
  width: 55%;
}

.intro__content-buttons-item:nth-child(2) {
  width: 45%;
  background-color: var(--button-blue);
  border-color: var(--button-blue);
  color: white;
}

.intro__content-subtext-row {
  font-weight: 300;
}

.intro__imgWrapper {
  grid-column: 2/5;
  position: relative;
}

.intro__imgWrapper-img {
  position: absolute;
  left: 20px;
  top: -90px;
}

@media screen and (max-width: 1320px) {
  .intro__title-row-blob {
    bottom: -30px;
    right: 375px;
  }
}

@media screen and (max-width: 1160px) {
  .intro__title-row-blob {
    bottom: -25px;
    right: 288px;
  }
}

@media screen and (max-width: 991px) {
  .intro__title-row-blob {
    right: 209px;
    bottom: -14px;
  }

  .intro__imgWrapper-img {
    max-width: 160%;
  }
}

@media screen and (max-width: 768px) {
  .intro__title-row-blob {
    display: none;
  }

  .intro__content {
    grid-column: 1/4;
  }

  .intro__content-text {
    padding: 0 6%;
  }

  .intro__content-buttons {
    padding: 0 6%;
  }

  .intro__content-subtext {
    padding: 0 6%;
  }

  .intro__content-offerBox-imgWrapper-img {
    max-width: 55%;
    padding-left: 6%;
  }

  .intro__content-offerBox-imgWrapper-saleImg {
    max-width: 15%;
    bottom: 10px;
  }

  .intro__content-offerBox-imgWrapper {
    justify-content: flex-start;
  }

  .intro__content-offerBox-imgWrapper-mobileBackground {
    display: block;
    position: absolute;
    z-index: -1;
    max-width: 72vw;
    right: -20%;
    bottom: -50%;
  }

  .intro__imgWrapper {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .intro__content-offerBox-imgWrapper-mobileBackground {
    opacity: 50%;
  }
}