.blog {
  margin-top: var(--indent-xl);
}

.blog__header {
  margin-bottom: var(--indent-l);
}

.blog__header-title {
  grid-column: 1/3;
  font-size: var(--h3);
}

.blog__header-description {
  grid-column: 4/5;
  font-size: var(--text-xs);
  font-weight: 400;
}

.blog__content {
  border-top: var(--border-width-common) solid black;
  border-bottom: var(--border-width-common) solid black;
}

.blog__content-simpleNews {
  position: relative;
  padding: var(--indent-m) var(--indent-s);
}

.blog__content-simpleNews-absoluteBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 157px;
  pointer-events: none;
  border-right: var(--border-width-common) solid black;
}

.blog__content-item-img {
  border-radius: var(--border-radius-button);
  margin-bottom: var(--indent-s);
  max-height: var(--blog-content-height);
  object-fit: cover;
}

.blog__content-item-img img {
  max-width: 100%;
}

.blog__content-item-title {
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--text-l);
  font-weight: 400;
  margin-bottom: var(--indent-s);
}

.blog__content-item-text {
  margin-bottom: var(--indent-m);
  font-size: var(--text-xs);
  font-weight: 300;
}

.blog__content-item-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-4xs);
}

.blog__content-item-tags-item {
  border: var(--border-width-light) solid black;
  min-height: 40px;
  padding: 0 var(--indent-3xs);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__content-videoNews {
  padding: var(--indent-m) var(--indent-s) 0 var(--indent-s);
  grid-column: 2/5;
}

.blog__content-item-videoWrapper {
  position: relative;
  margin-bottom: var(--indent-s);
  overflow: hidden;
  border-radius: var(--border-radius-button) !important;
}

.blog__content-item-videoWrapper-playButton {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: white;
  font-size: var(--text-xl);
  width: fit-content;
  border-bottom: var(--border-width-common) solid white;
}

.blog__content-item-videoWrapper-playButton:hover {
  text-decoration: none;
}

.blog__content-item-videoWrapper-video {
  max-width: 100%;
  width: 100%;
  max-height: var(--blog-content-height);
  object-fit: cover;
  border-radius: var(--border-radius-button);
}

.blog__content-item-videoWrapper-poster {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-button);
}

.blog__content-videoNews-item {
  margin-bottom: var(--indent-l);
}

.blog__content-videoNews-item-text {
  margin-bottom: 0;
}

@media screen and (max-width: 1320px) {

}

@media screen and (max-width: 1160px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 768px) {
  .blog__header-title {
    grid-column: 1/4;
  }

  .blog__header-description {
    display: none;
  }

  .blog__content-simpleNews {
    grid-column: 2/3;
    padding: var(--indent-m) 0;
  }

  .blog__content-simpleNews-absoluteBorder {
    display: none;
  }

  .blog__content-videoNews {
    grid-column: 1/4;
    padding: var(--indent-m) 0;
  }

  .blog__content-item-img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 480px) {
  .blog__content-item-tags-item {
    min-height: 25px;
  }
}
